* {
  font-family: "JetBrains Mono", monospace;
}

.gradient-section-bg-dark {
  background: linear-gradient(0deg, #000000, #350741);
}

.gradient-section-bg-dark-variant {
  background: linear-gradient(0deg, #551471ce, #ffc5c57e);
}

.gradient-bg-dark-secondary {
  background: linear-gradient(0deg, #350741, #ffffff);
}

.gradient-section-bg-light {
  background: linear-gradient(180deg, #b2f0ff, 80%, #f0fada);
}

.gradient-icons {
  color: #2f1c319d;
}

.gradient-text-light {
  background: -webkit-linear-gradient(rgb(243, 113, 200), rgb(139, 89, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-dark {
  background: -webkit-linear-gradient(rgb(71, 31, 68), rgb(29, 40, 41));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-chapeta {
  /* background: -webkit-linear-gradient(
    90deg,
    rgb(255, 0, 76),
    rgb(9, 255, 0),
    rgb(251, 255, 0),
    rgb(255, 179, 0)
  ); */
  background: -webkit-linear-gradient(
    0deg,
    rgb(255, 0, 76) 10%,
    rgb(9, 255, 0) 50%,
    rgb(251, 255, 0) 60%,
    rgb(0, 60, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 8px;
}

.border-gradient-color {
  border-image-source: linear-gradient(
    to left,
    rgb(243, 113, 200),
    rgb(139, 89, 255)
  );
}

/*ANIMATIONS*/
.color-anim-icon {
  color: rgb(144, 119, 151);
}

.color-anim-icon-infinite {
  -webkit-animation: icon-color-change 0.3s infinite alternate;
}

.color-anim-icon:hover {
  -webkit-animation: icon-color-change 0.3s infinite alternate;
}

.color-anim-txt:hover {
  -webkit-animation: text-color-change 0.3s infinite alternate;
}

@-webkit-keyframes text-color-change {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}

@-webkit-keyframes icon-color-change {
  0% {
    color: rgba(0, 0, 255, 0.472);
  }
  10% {
    color: #8d44ad7a;
  }
  20% {
    color: #1abc9c80;
  }
  30% {
    color: #d3540057;
  }
  40% {
    color: rgba(0, 0, 255, 0.452);
  }
  50% {
    color: #34495ea2;
  }
  60% {
    color: rgba(0, 0, 255, 0.616);
  }
  70% {
    color: #297fb9b9;
  }
  80% {
    color: #f1c40fb4;
  }
  90% {
    color: #297fb9a1;
  }
  100% {
    color: rgba(255, 192, 203, 0.74);
  }
}

.color-anim-bg {
  /* background: -webkit-linear-gradient(rgb(243, 113, 200), rgb(139, 89, 255)); */
  background: transparent;
}

.color-anim-bg:hover {
  -webkit-animation: bg-color-change 0.3s infinite alternate;
}

@-webkit-keyframes bg-color-change {
  0% {
    background: rgba(0, 0, 255, 0.493);
  }
  10% {
    background: #8d44ada9;
  }
  20% {
    background: #1abc9c85;
  }
  30% {
    background: #d35400ad;
  }
  40% {
    background: rgba(0, 0, 255, 0.671);
  }
  50% {
    background: #34495e9a;
  }
  60% {
    background: rgba(0, 0, 255, 0.507);
  }
  70% {
    background: #297fb99f;
  }
  80% {
    background: #f1c40f9a;
  }
  90% {
    background: #297fb9c9;
  }
  100% {
    background: rgba(255, 192, 203, 0.808);
  }
}

.color-anim-shadow {
  -webkit-animation: shadow-color-change 0.3s infinite alternate;
}

@-webkit-keyframes shadow-color-change {
  0% {
    box-shadow: 0.5rem 0.75rem 0rem rgba(0, 0, 255, 0.568);
  }
  10% {
    box-shadow: 0.5rem 0.75rem 0rem #8d44ada9;
  }
  20% {
    box-shadow: 0.5rem 0.75rem 0rem #1abc9c85;
  }
  30% {
    box-shadow: 0.5rem 0.75rem 0rem #d35400ad;
  }
  40% {
    box-shadow: 0.5rem 0.75rem 0rem rgba(0, 0, 255, 0.671);
  }
  50% {
    box-shadow: 0.5rem 0.75rem 0rem #34495e9a;
  }
  60% {
    box-shadow: 0.5rem 0.75rem 0rem rgba(0, 0, 255, 0.507);
  }
  70% {
    box-shadow: 0.5rem 0.75rem 0rem #297fb99f;
  }
  80% {
    box-shadow: 0.5rem 0.75rem 0rem #f1c40f9a;
  }
  90% {
    box-shadow: 0.5rem 0.75rem 0rem #297fb9c9;
  }
  100% {
    box-shadow: 0.5rem 0.75rem 0rem rgba(255, 192, 203, 0.808);
  }
}
